.home-layout {
    opacity: 0.9;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0 0 1px 0 #9e9e9e;
    width: 1024px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.home-private {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 0;
}

.home-public {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

/*个人信息栏*/
.home-private-info {
    margin: 64px 8px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.home-private-info-general {
    padding: 0 12px;
    min-width: 1000px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.home-info-avatar {
    cursor: pointer;
    width: 188px;
    height: 188px;
}

.home-private-info-text {
    /*margin: 28px 0 0 40px;*/
    /*min-width: 128px;*/
    width: 670px;
    display: flex;
    flex-flow: column nowrap;
}

.home-private-info-name {
    display: inline;
    font-size: 22px;
}

.home-private-info-gender {
    margin: 0 0 0 8px;
    display: inline;
    font-size: 14px;
    color: #9e9e9e;
}


.level-bar {
    margin: 16px 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.level-bar-text {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.home-private-info-count:nth-child(1) {
    padding: 0 32px 0 0;
}
.home-private-info-count:nth-child(3) {
    border-width: 0;
}

.home-private-info-count {
    cursor: pointer;
    display: inline-flex;
    flex-flow: column nowrap;
    border: solid #9e9e9e;
    border-width: 0 1px 0 0;
    padding: 0 32px 0 20px;
    font-size: 12px;
}

.home-private-info-count-number {
    font-size: 24px;
}

.recommend-list-item-layout {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.recommend-list-item-button-play {
    height: auto;
    padding: 0;
}

.list-item-seperated {
    margin: 8px 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/*推荐栏*/
.home-private-recommend {
    display: flex;
    flex-flow: row wrap;
}

.recommend-user-item {
    margin: 0 16px;
    width: 300px;
    height: 180px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.recommend-user-item img {
    width: 140px;
    height: 140px;
}

.recommend-user-item-info {
    margin: 0 0 0 8px;
    width: 150px;
    display: flex;
    flex-flow: column nowrap;
}

.sub-header {
    margin: 8px 0 16px 8px;
    border-bottom: 2px solid #00f2fe;
    font-size: 20px;
    color: #666;
    line-height: 28px;
}

.home-recommend {
    width: 960px;
    margin: 0 12px 32px;
}


/*活动*/
.moment-item {
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    /*border: solid #9e9e9e;*/
    /*border-width: 0 0 1px 0;*/
}


.moment-item-border {
    width: 512px;
    border-top: 1px solid #e5e9ef;
    margin-bottom: 16px;
}

.moment-item-info {
    display: flex;
    flex-flow: row nowrap;
    margin: 16px 0;
}

.moment-item-info div {
    margin: 4px 0 0 16px;
}

.moment-item-operation {
    margin: 0 0 0 8px;
    display: flex;
    flex-flow: row nowrap;
}

.moment-item-type {
    color: rgb(0,188,212);
    font-weight: bold;
}

.moment-item-time {
    margin: 8px 0;
    color: #9e9e9e;
    font-size: 12px;
}

.moment-user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}



/**/
.comment {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 32px;
}

.comment-avator {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    order: 1;
    flex: 0 0 64px;
    margin: 17px 28px 0 28px;
}

.comment-border {
    width: 512px;
    border-top: 1px solid #e5e9ef;
    margin-bottom: 16px;
}

.comment-content {
    display: flex;
    flex-flow: column wrap;
    order: 2;
}

.comment-header {
    display: flex;
    flex-flow: row nowrap;
    order: 0;
}

.comment-header-name {
    order: 0;
    font-size: 12px;
    font-weight: bold;
    color : #6d757a;
}

.comment-header-level {
    order: 1;
    font-size: 12px;
}

.comment-text {
    margin-top: 4px;
    font-size: 14px;
    order: 1;
    color: #000;
}

.comment-footer {
    margin-top: 8px;
    font-size: 12px;
    order: 2;
    color: #9e9e9e;
}
