.pick-song {
    margin: 16px 8px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.upload-song-sub-header {
    margin: 8px 0 16px 4px;
    border-bottom: 2px solid #00f2fe;
    font-size: 20px;
    color: #666;
    line-height: 28px;
}


.upload-song-info-second {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}