.main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    /*#634189*/
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    height: 100%;
}

.background {
    background-size: cover;
    /*padding: 32px;*/
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.frame {
    margin: 0 16% 0 0;
    background-color: #F5F5F5;
    padding: 32px;
    width: 300px;
    height: 420px;
    border-radius: 5%;
}